.panda-bg-info{
    background-color: #fceae8;
}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.submit-btn{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%); 
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}